<div class="b-spot-hero pt-3">
  <div class="container">
    <div class="row">
      <div class="col-12 hero-fullbleed-wrapper ">
        <div class="card">
          <div class="carousel card-block">
            {% for item in bSpotHeroNavyBlueTheme %}

              <div class="slide-wrapper pt-3">
                <div class="card-img-top"></div>
                <div
                  class="jumbotron position-absolute text-white text-left jumbotron-container">
                  <div class="row">
                    <div
                      class="col-7 {{ internalGridClasses.odsColXs7 }} {{ internalGridClasses.odsColSm7 }} {{ internalGridClasses.odsCol6 }} px-2 pt-5 text-container">
                      <h1 class="text-white">{{ item.heading }}</h1>
                      <p class="first-paragraph">{{ item.text }}</p>
                    </div>
                    <div
                      class="col-5 {{ internalGridClasses.odsColXs5 }} {{ internalGridClasses.odsColSm5 }} {{ internalGridClasses.odsCol6 }} jumbotron-img-container">
                      <div
                        role="img"
                        aria-label="{{ item.imgInsideBannerProperties.alternativeText }}"
                        title="{{ item.imgInsideBannerProperties.pageHeroImageAlt }}"
                        class="doctor-hero"></div>
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



