<!-- start example code for Drupal -->
<div class="col-4">
  <nav class="otsuka-breadcrumbs" aria-label="{{ breadcrumbs.ariaLabel }}">
    <ol class="breadcrumb">
      <li class="breadcrumb-item {{ breadcrumbs.specialCssClass }}"
          aria-current="{{ breadcrumbs.ariaCurrent }}">Home
      </li>
    </ol>
  </nav>
</div>

<div class="col-8">
  <nav class="otsuka-breadcrumbs" aria-label="{{ breadcrumbs.ariaLabel }}">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item {{ breadcrumbs.specialCssClass }}"
          aria-current="{{ breadcrumbs.ariaCurrent }}">Library
      </li>
    </ol>
  </nav>
</div>

<div class="col-12">
  <nav class="otsuka-breadcrumbs" aria-label="{{ breadcrumbs.ariaLabel }}">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item {{ breadcrumbs.specialCssClass }}"
          aria-current="{{ breadcrumbs.ariaCurrent }}">Data
      </li>
    </ol>
  </nav>
</div>
<!-- end example code for Drupal -->
