<!-- start example code for Drupal -->
<div class="group-cta-rows-only-with-img {{ internalGridClasses.odsMarginAuto }}">
    <div class="heading-container ods-ml-25 ods-mt-25 ods-mb-15">
        <h2>{{ mainHeading }}</h2>
    </div>
    <hr class="ods-mr-15 ods-ml-15 ods-mt-0 ods-mb-0">
    {% for item in groupCtaRowsOnlyWithImg %}
        <div class="cta-row">
            <div class="card-body d-flex flex-wrap align-items-center">
                <div class="img-container col-4 col-sm-2">
                    <div role="img"
                         aria-label="{{ item.alternativeText }}"
                         title="{{ item.alternativeText }}"
                         class="{{ item.imgSrcClass }} d-block"></div>
                </div>
                <div class="col-12 col-sm-10 ods-mt-15">
                    <div class="card-title">
                        <h4>{{ item.heading }} </h4>
                    </div>
                    <div>
                        <p class="card-text">{{ item.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ods-mr-15 ods-ml-15 ods-mt-0 ods-mb-0">
    {% endfor %}
</div>
<!-- end example code for Drupal -->





